.section {
  margin-bottom: 15px;

  .inner {
    padding: 10px 0;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.01em;
    font-size: 25px;
    margin-bottom: 5px;
    color: #474a54;
    text-align: left;
  }
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  .skill-card {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .card-wrapper {
    flex-wrap: wrap;
    justify-content: normal;
    .skill-card {
      margin-bottom: 20px;
    }
  }
}